
body {
  background-color: rgb(203, 255, 255);
  font-size: 1.6rem;
}


.navbar {
  background: linear-gradient(90deg, rgb(0, 225, 255) 0%, rgb(255, 255, 255) 100%);
  padding: 0.5rem 1.5rem;
  border-radius: 0.5rem;
  padding-left: 4rem;
  padding-right: 8rem;
}

.navbar_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: rgb(11, 0, 0);
  font-size: 1.6rem;
}

.link_button {
  background-color: rgb(0, 225, 255);
  color: white;
  border: none;
  padding: 0.5rem 1.5rem;
  font-size: 1.6rem;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: all 0.3s ease;
}

.link_back {
  background: linear-gradient(90deg, rgb(0, 0, 0) 0%, rgb(11, 7, 248) 100%);
  color: white;
  border: none;
  padding: 0.5rem 1.5rem;
  font-size: 1.6rem;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: all 0.3s ease;
}

#group_search {
list-style: none;

}


.categories_title {
  display: flex;
  align-items: center;
  font-size: 2.5rem;
  font-weight: 700;
  margin-bottom: 1rem;
}

.btn-form {
  display: inline-block;
  padding: 0.5rem 7rem;
  border-radius: 0.5rem;
  background-color: rgb(0, 225, 255);
  color: white;
  border: solid 2px transparent;
  width: 80%;
  transition: filter 400ms, color 200ms;
  cursor: pointer;
  font-weight: 700;
  text-align: center;
}

.btn-form p {
  display: flex;
  flex-direction: column;
}

.btn-form-div {
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-form:hover {
  filter: brightness(0.9);
  transition: filter 400ms, color 200ms;
}

#newcategory_button {
  display: flex;
  justify-content: center;
}

.btn-category {
  display: flex;
  justify-content: center;
  padding: 0.5rem 7rem;
  border-radius: 0.5rem;
  background-color: rgb(0, 225, 255);
  color: white;
  border: solid 2px transparent;
  transition: filter 400ms, color 200ms;
  cursor: pointer;
  font-weight: 700;
  text-align: center;
}

.categories {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#dom_id {
  display: flex;
  flex-direction: column;
  align-content: space-between;
  align-items: center;
}

.show-btn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0.5rem 7rem;
  border-radius: 0.5rem;
  background-color: rgb(0, 225, 255);
  transition: filter 400ms, color 200ms;
  cursor: pointer;
  font-weight: 700;
  text-align: center;
  border: 0.5rem solid rgb(38, 0, 255);
}

.show-btn a {
  color: rgb(38, 0, 255);
  text-decoration: none;
}

.welcome {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 2.5rem;
  font-weight: 700;
  margin-bottom: 1rem;
}

.welcome a {
  background-color: rgb(0, 225, 255);
  color: white;
  border: none;
  padding: 0.5rem 1.5rem;
  font-size: 1.6rem;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: all 0.3s ease;
}

.welcome-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.log-in-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.actions {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 2.5rem;
  font-weight: 700;
  margin-bottom: 1rem;
}

.field {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.links-shared {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.destroy-btn {
  padding: 0.5rem 7rem;
  border-radius: 0.5rem;
  background-color: rgb(0, 225, 255);
  color: rgb(38, 0, 255);
  border: solid 2px transparent;
  transition: filter 400ms, color 200ms;
  cursor: pointer;
  font-weight: 700;
  text-align: center;
  font-size: 1.5rem;
}

.payment-font {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.5rem;
}

.payment-font a {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.5rem;
}

#payments {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 2.5rem;
}

.cat-name {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.show-pay {
  display: flex;
  justify-content: center;
  padding: 0.5rem 7rem;
  border-radius: 0.5rem;
  background-color: rgb(0, 225, 255);
  color: white;
  border: solid 2px transparent;
  transition: filter 400ms, color 200ms;
  cursor: pointer;
  font-weight: 700;
  text-align: center;
}

.form-payment {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 2.5rem;
}
